


header {
  height:40px;
  background-color:rgb(11, 8, 59);
  font-family:"Meiryo UI";
}

header a {
  color:white;
  float:left;
  padding:5px 10px;
}
/* BODY部分のレイアウト*/

Body {
  font-family:"Meiryo UI";
}

.top {
  height:600px;
  background-image: url(https://user-images.githubusercontent.com/63867851/79644326-341b8700-81e3-11ea-9856-b7ed3ea7b4b8.jpg);
  background-size:cover;
  text-align:center;
}
.midashi h1 {
  font-size:50px;
  padding-top:100px;
  border
}

.midashi p {
  font-size:25px;
  font-weight:bold;
}

.contents p {
  font-size:20px;

}

.btn {
  display:inline-block;
  padding:15px 15px;
  margin-bottom:30px;
  color:white;
  font-size:20px;
}



.kaisya{
  background-color:rgba(47, 89, 46, 0.94);
  box-shadow:0 10px rgb(17, 65, 53);
}

.bosyusyokusyu .btn{
  background-color:rgba(179, 70, 175, 0.94);
  box-shadow:0 10px rgb(116, 45, 135);
  margin-right:20px;
}

.kaisya:active{
  box-shadow:none;
  position:relative;
  top:10px;
}

.setugi:active {
  box-shadow:none;
  position:relative;
  top:10px;
}

.operater:active {
  box-shadow:none;
  position:relative;
  top:10px;
}

input {
  display:block;
  margin-top:15px;
}

footer {
  padding-left:30px;
  height:auto;
}

fotter p {
}
